@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@layer components {
  .text-button {
    @apply hover:text-cyan-200 hover:cursor-pointer hover:text-xl duration-300 tracking-widest
  }
  .image-button {
    @apply hover:cursor-pointer hover:scale-125 duration-300
  }
}
body {  
  font-family: Arial, Helvetica, sans-serif;
}